# Python
.venv/
__pycache__/
*.py[cod]
*$py.class
*.db
.env

# Node
node_modules/
dist/
dist-ssr/
*.local

# Editor
.vscode/
.idea/
*.swp
*.swo

# Project specific
data.db
Day-09-Expense-Tracker/backend/data.db
Day-09-Expense-Tracker/backend/.env
Day-09-Expense-Tracker/frontend/node_modules/
